<div id="content">

  <h2>Ceny usług</h2>
  <p>Ceny usług są ustalane każdorazowo indywidualnie.</p>

<p >Na koszt sporządzenia operatu <b>nie ma wpływu wartoś przedmiotu wyceny</b>. Jest on natomiast uzgadniany po sprecyzowaniu celu wyceny, rodzaju nieruchomości oraz zakresu niezbędnych do wykonania czynności.</p>

<p>Na koszt wyceny wpływ mają między innymi niżej wymienione czynniki: 

<ul>
  <li>Nakład pracy rzeczoznawcy majątkowego niezbędny do wykonania czynności, niezbędnych dla właściwego przeprowadzenia procesu wyceny</li>
  <li>Stopień skomplikowania pracy</li>
  <li>Charakter, wielkość i rodzaj części składowych nieruchomości stanowiącej przedmiot wyceny</li>
  <li>Cel sporządzenia operatu szacunkowego</li>
  <li>Analiza rynku dla danej nieruchomości</li>
  <li>Termin i warunki wykonania zlecenia</li>
  <li>Kwalifikacje rzeczoznawcy majątkowego</li>
  <li>Wydatki ponoszone przez rzeczoznawcę majątkowego w trakcie procesu szacowania (m. in. dojazd, wyszukanie i przygotowanie dokumentów źródłowych, opłaty, podatki etc.)</li>
</ul>

</p>

<p>W celu uzyskania szczegółowych informacji dotyczących koszty wyceny konkretnej nieruchomości uprzejmie prosze o kontakt telefoniczny lub za pośrednictwem poczty elektronicznej.</p>
 
   

</div> <!-- end #content -->
