<div id="footer"><div id="footer-inner">
  <p>&copy; Copyright 2018 <a href="{{ home_url }}">Piotr Mikians</a>.&nbsp;
  W celu zapewnienia najwyższej jakości usług, ta strona może korzystać z plików <a href="http://pl.wikipedia.org/wiki/HTTP_cookie" title="cookies">cookies</a>.
  </p>





</div></div><!-- end #footer -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37780770-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</div> <!-- end #page -->
</body>
</html>
