<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Strona główna</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Default description goes here" />
  <meta name="keywords" content="default, keywords, here" />
  <meta name="author" content="Author Name" />

  <link rel="favourites icon" href="{{ home_url }}/images/favicon.ico" />
  <link rel="stylesheet" href="{{ home_url }}/styles/screen.css" media="screen" type="text/css" />
  <link rel="stylesheet" href="{{ home_url }}/styles/print.css" media="print" type="text/css" />

</head>
<body>

<div id="page">
<div id="header">
  
  <a href="{{ home_url }}">
    <img src='{{ home_url }}/images/panorama_ilfing_760.jpg'
         alt='Panorama Elblag' />
  </a>
  
  <h2>
    <span>Rzeczoznawca majątkowy<br />
      <span id='name'>Piotr Mikians<span/>
    <span/>
  </h2>
</div>


