<div id="content">

  
  <h2>Witam serdecznie</h2>

<p> Wycena nieruchomości stanowi działalność zawodową wykonywaną przez odpowiednio do tego celu przygotowanych rzeczoznawców majątkowych na zasadach określonych przepisami ustawy o gospodarce nieruchomościami.  </p>

<p>Zgodnie z wymogami zawartymi w powyższych przepisach posiadam uprawnienia zawodowe nr 5471 w zakresie szacowania nieruchomości nadane przez Ministra Transportu, Budownictwa i Gospodarki Morskiej w 2012 roku. </p>

<p>Działania rzeczoznawców majątkowych regulowane są przepisami prawa, jak również poprzez zbiór standardów zawodowych i <a href="http://pfsrm.pl/kodeks_etyki_zawodowej/">kodeks etyki zawodowej</a>. Powyższe wymagają od czynności rzeczoznawcy rzetelności, staranności oraz bezstronności dokonywanych wycen i opracowań, jak również zachowania tajemnicy zawodowej w stosunku do informacji uzyskanych w związku z wykonywaniem zawodu i nieprzekazywanie ich osobom trzecim. </p>
 
<p>Obowiązek stałego doskonalenia kwalifikacji zawodowych realizowany jest poprzez uczestnictwo w szkoleniach i kursach specjalistycznych organizowanych przez stowarzyszenia rzeczoznawców oraz ośrodki naukowe związane z zagadnieniem wyceny nieruchomości. </p>

<p>Jestem członkiem <a href="http://www.educaterra.pl/stowarzyszenie/informacje.php">Polskiego Stowarzyszenia Rzeczoznawców Wyceny Nieruchomości oddział w Olsztynie</a></p>

<p>W związku z prowadzeniem działalności gospodarczej podlegam ubezpieczeniu od odpowiedzialności cywilnej za szkody spowodowane wykonywanymi czynnościami zawodowymi zawartemu z firmą PZU SA</p>
 
   

</div> <!-- end #content -->
