<div id="sidebar">

<div id="nav">
  <ul>
    {% for item in sidebar_items %}
    <li><a href="{{ item.path }}" class="{{ item.a_class }}">{{ item.a_name }}</a></li>
    {% endfor %}
  </ul>
</div>
 <!-- end #navigation -->

<div id='kontakt'>

<h3>Kontakt</h3>

<p style='font-weight: bold'>
Piotr Mikians<br />
Rzeczoznawca majątkowy
</p>

<p>
tel. kom. 509 629 609<br />
email: <a href='mailto:info@szacowanie.elblag.pl'> info@szacowanie.elblag.pl </a>
</p>

<p>
NIP: 578 285 50 88<br />
REGON: 280 167 639
</p>

</div> <!-- div#kontakt-->
 

</div> <!-- end #sidebar -->


