<div id="content">

  <h2>Uprawnienia</h2>
  
<div class='gallery_item'>
  <div>Uprawnienia rzeczoznawcy majątkowego</div>
  <a href='/images/uprawnienia.JPG'>
    <img src='/images/uprawnienia-thumb.JPG' alt='uprawnienia rzeczoznawcy'/>
  </a>
</div>

<div class='gallery_item'>
  <div>Szacowanie wartości nieruchomości dla praw i potrzeb skarbowo-podatkowych</div>
  <a href='/images/szacowanie-skarbowo-podatkowe.jpg'>
    <img src='/images/szacowanie-skarbowo-podatkowe-thumb.jpg' alt='szacowanie wartości nieruchomości dla praw i potrzeb skarbowo-podatkowych'/>
  </a>
</div>

<div class='gallery_item'>
  <div>Egzamin: wycena dla potrzeb zabezpieczenia wierzytelności</div>
  <a href='/images/piotr-mikians-wycena-wierzytelnosci-egzamin.JPG'>
    <img src='/images/piotr-mikians-wycena-wierzytelnosci-egzamin-thumb.JPG' alt='egzamin wycena dla potrzeb zabezpieczenia wierzytelności'/>
  </a>
</div>

<div class='gallery_item'>
  <div>Szkolenie: odszkodowania i wynagrodzenia w przestrzeni zajętej przez sieci dystrybucyjne i przemysłowe</div>
  <a href='/images/szkolenie-sieci-przemyslowe.JPG'>
    <img src='/images/szkolenie-sieci-przemyslowe-thumb.JPG' alt='szkolenie sieci przemysłowe'/>
  </a>
</div>

<div class='gallery_item'>
  <div>Szkolenie: wycena dla potrzeb zabezpieczenia wierzytelności</div>
  <a href='/images/wycena-wierzytelnosci.jpg'>
    <img src='/images/wycena-wierzytelnosci-thumb.jpg' alt='szkolenie wycena dla potrzeb zabezpieczenia wierzytelności'/>
  </a>
</div>

<div class='gallery_item'>
  <div>Kodeks etyki zawodowej</div>
  <a href='/images/kodeks-etyki-zawodowej.JPG'>
    <img src='/images/kodeks-etyki-zawodowej-thumb.JPG' alt='kodeks etyki zawodowej'/>
  </a>
</div>

 
   

</div> <!-- end #content -->
