<div id="content">

  <h2>Wymagane dokumenty</h2>
  <p>
  <h3>Wycena nieruchomości lokalowej</h3>
  <ul>
    <li>Aktualny odpis z księgi wieczystej lub akt notarialny</li>
    <li>Wypis i wyrys z ewidencji gruntów, na którym znajduje się budynek wraz z wycenianym lokalem</li>
    <li>Zaświadczenie o samodzielności lokalu</li>
    <li>Dokument potwierdzający tytuł prawny do nieruchomości (np. umowa kupna-sprzedaży, darowizny)</li>
    <li>Rzut lokalu</li>
    <li>Dane powierzchniowo - kubaturowe</li>
    <li>Umowa najmu (jeżeli lokal jest przedmiotem najmu)</li>
  </ul><br />
</p>

<p>
  <h3>Wycena spółdzielczego własnościowego prawa do lokalu mieszkalnego</h3>
  <ul>
    <li>Aktualny odpis z księgi wieczystej w przypadku,gdy lokal ma założoną księgę wieczystą</li>
    <li>Numer księgi wieczystej dla gruntu, na którym znajduje się budynek z wycenianym lokalem</li>
    <li>Zaświadczenie o przysługującym prawie do spółdzielczego własnościowego lokalu mieszkalnego</li>
    <li>Rzut lokalu</li>
    <li>Dane powierzchniowo - kubaturowe</li>
  </ul><br />
</p>

<p>
  <h3>Wycena nieruchomości gruntowej</h3>
  <ul>
    <li>Odpis z księgi wieczystej lub akt notarialny</li>
    <li>Wypis z rejestru gruntów</li>
    <li>Wyrys z mapy ewidencyjnej</li>
    <li>Dane o przeznaczeniu w miejscowym planie zagospodarowania przestrzennego lub studium uwarunkowań i kierunków zagospodarowania gminy, bądź decyzja o warunkach zabudowy (pozwolenie na budowę) </li>
    <li>Decyzja o warunkach zabudowy (jeżeli została wydana)</li>
    <li>Decyzja o pozwoleniu na budowę (jeżeli została wydana)</li>
  </ul><br />
</p>

<p>
<h3>Wycena nieruchomości zabudowanej</h3>
  <ul>
    <li>Odpis z księgi wieczystej </li>
    <li>Dokument potwierdzający tytuł prawny do nieruchomości (np. umowa kupna-sprzedaży, darowizny)</li>
    <li>Wypis z rejestru gruntów</li>
    <li>Wyrys z mapy ewidencyjnej</li>
    <li>Dokumenty związane z obiektem, np: dokumentacja projektowa, potwierdzenie przyjęcia budynku do eksploatacji, wypis z rejestru budynków, inwentaryzacja obiektu, decyzja o warunkach zabudowy  </li>
    <li>W przypadku nieruchomości w trakcie budowy wymagane jest również pozwolenie na budowę.</li>
  </ul><br />
</p>

<p>
<h3>Wycena nieruchomości komercyjnych</h3>
  <ul>
    <li>Odpis z księgi wieczystej</li>
    <li>Wypis z rejestru gruntów</li>
    <li>Dane powierzchniowo - kubaturowe poszczególnych budynków</li>
    <li>Wykaz powierzchni o odmiennej funkcji wchodzącej w skład obiektu</li>
    <li>Rzuty kondygnacji</li>
    <li>Mapa sytuacyjna nieruchomości (fragment mapy zasadniczej, do celów projektowych lub ewidencyjnej)</li>
    <li>Wykaz rocznych kosztów utrzymania nieruchomości</li>
  </ul><br />
</p>

<p>Powyższe dokumenty może za Państwa skompletować Rzeczoznawca, co może wydłużyć czas oczekiwania na wycenę jednocześnie podwyższając jej koszt.</p> 
   

</div> <!-- end #content -->
